.large-hero {
  border-bottom: 10px solid $mainBlue;
  position: relative;

  &__image {
    display: block;
  }

  &__text-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }

  &__title {
    font-weight: 300;
    color: $mainBlue;
    font-size: 2rem;
    margin: 0;

    @mixin atSmall {
      font-size: 4.8rem;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: 300;
    color: $mainBlue;
    font-size: 1.1rem;

    @mixin atSmall {
      font-size: 2.8rem;
    }
  }

  &__description {
    font-weight: 100;
    font-size: 1.2rem;
    color: #ffffff;
    text-shadow: 2px 2px 0 rgba(0, 0, 0 0.1);
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;

    @mixin atSmall {
      font-size: 1.875rem;
    }
  }
}
